




$rose: #8cd7f7;


//=============================================================
// TYPOGRAPHY
//=============================================================

html, .root {
  font-size: 16px;
  line-height: 28px;
}
body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}
h1, .h1 {
  font-size: 4.25rem;
  line-height: 5.25rem;
  margin-top: 1.75rem;
  margin-bottom: 3.5rem;
}
h2, .h2 {
  font-size: 2.625rem;
  line-height: 3.5rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
h3, .h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
h4, .h4 {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.75rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}


@media only screen and (max-width : 800px) {
    h1, .h1 {
        font-size: 2.625rem;
        line-height: 3.5rem;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
    h4, .h4 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}





h1 {
font-family: 'Roboto', sans-serif;
        font-weight:700;
}

h2 {
font-family: 'PT Serif', serif;
    font-style:italic;
            font-weight:normal;
}

h3 {
font-family: 'Roboto', sans-serif;
    font-weight:700;
}

h4 {
font-family: 'PT Serif', serif;
    font-style:italic;
            font-weight:normal;
            color:#888;
}

p, ul {
    color:#333;
font-family: 'PT Serif', serif;
}

a {
    color:$rose;
    text-decoration: none;
    transition:0.25s ease-out;
    &:focus, &:hover {
        color:darken($rose, 20%);
    }
}

.bigger {
    font-size:1.25rem;
    line-height: 1.75rem;
}

.center {
    text-align:center;
}

.white {
    color:#fff;
}


//=============================================================
// GENERAL
//=============================================================

body {
    background: #0e222f;
    padding: 0;
    margin: 0;
}

//=============================================================
// FORMS
//=============================================================


.button {
    border:0;
    border-radius:3px;
    color:#fff;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
        font-weight:700;
        font-size:1.25em;
    padding:15px 20px;
    background:darken($rose,20%);
    transition:all 0.25s ease-out;
    &:hover, &:focus {
    background:darken($rose,0%);
    }
}

label {
    font-family: 'Roboto', sans-serif;
        font-weight:700;
}

input {
    background:#f7f7f7;
    border:1px solid transparent;
        border-radius:3px;
    color:#222;
    display:inline-block;
    font-size:1.25em;
    padding:15px;
    transition:all 0.25s ease-out;
    max-width:300px;
    &:hover, &:focus {
        background:#fff;
    }
}


//=============================================================
// HEADER
//=============================================================

header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.menu {
    position: fixed;
    font-size: 30px;
    text-align: center;
    border-radius: 0;
}

.menu-bg {
    @extend .menu;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.0);
    pointer-events: none;
    transition: 0.3s;
    transform: translate3d(0%, 0%, 0);
    transform-origin: center center;

    &.fs {
        background: rgba(0,0,0,.85);
        transform: translate3d(0%, 0%, 0);
        width: 400vw;
        height: 400vw;
    }
}

.menu-burger {
    @extend .menu;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
    color: $rose;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 0.4s;
    transform-origin: center;
    z-index: 2;

    &:hover {
    }

    &.fs {
        cursor: pointer;
        transform: rotate(-180deg) translateY(0px);
    }
}

.menu-items {
    position: fixed;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: 0.4s;

    h2 {
        font-family: 'Roboto', sans-serif;
        color:#fff;
        font-weight:700;
        font-style:normal;
        font-size:1em;
        padding:0 30px;
        display:block;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            display: block;
        }
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        line-height:30px;
        transition: .3s;
        opacity: 0;
        display: block;
        width: 100%;
        margin: 50px 0;
        position: relative;
        text-decoration:none;
        color:#fff;
        letter-spacing: 2px;
    }

    &.fs {
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;

        a {
            color:$rose;
            opacity: 1;
            margin: 60px 0;
            letter-spacing: 3px;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            &:hover, &:focus {
                color:darken($rose,20%);
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

img#logo {
    display:block;
    margin:0 auto;
    max-width:200px;
    margin-bottom:0px;
}


@media only screen and (max-width : 800px) {
    img#logo {
        display:block;
        margin:0 auto;
        max-width:100px;
        margin-bottom:0px;
    }

    .menu-items {
        a {
            margin: 30px 0;
        }
        &.fs {
            a {
                margin: 40px 0;
            }
        }
    }
}

//=============================================================
// MAIN
//=============================================================

.container {
    padding: 30px 60px;
}

img {
    display:block;
    margin:0; padding:0;
   max-width: 100%;
   *width: 100%;
   height: auto;
}

#hero {
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px 60px 30px 60px;
    h1, h2 {
        color:#fff;
    }
}

.bigposter {
    border:2px solid transparent;
    display:block;
    width:100%;
    transition:0.25s ease-out;
    margin-bottom:30px;
    &:hover,&:focus {
        border-color:$rose;
    }
}

.shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
}

.pane {
    color:#fff;
    display:block;
    margin-bottom: 30px;

    div.left, div.right {
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: scroll;
        box-sizing: border-box;
        padding: 200px 60px;
        width: 50%;
    }

    .sell {
        background:darken($rose, 50%);
        border:5px solid darken($rose, 40%);
        padding:35px;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        h2 {
            margin-top:0;
        }
        form {
            display:block;
            padding:0px; margin:0;
        }
        img {
            float:right;
            margin-left:30px;
        }
        p {color:#c9d8e1;}
    }

    div.full {
        max-width:700px;
        margin:0 auto;
        padding: 100px 60px;
    }

    &.story {
        h2 {
            text-align:center;
        }
        p {
            color:#c9d8e1;
            display:block;
            font-size:1.25em;
            line-height:1.75em;
            margin:0 auto;
            max-width:600px;
        }
        p+p {
            margin-top:30px;
        }
        img {
            margin:60px auto;
        }
    }

    &.key {
        img {
            margin:0 auto;
            display:block;
            width:300px;
        }
        p {
            color:#c9d8e1;
            text-align:center;
            padding:15px 0 0 0; margin:0;
        }
    }

    &.epoch {
        background-color:#1b313f;
        background-repeat:no-repeat;
        background-size:auto;
        background-attachment: scroll;
        background-position:top center;
        padding:60px;
        h3 {
            padding:200px 0 180px 0; margin:0;
            text-align:center;
            text-transform:uppercase;
            letter-spacing: 3px;
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        }
        p {
            color:#c9d8e1;
            display:block;
            font-size:1.25em;
            line-height:1.75em;
            margin:0 auto;
            text-align:center;
            max-width:600px;
        }
        h4 {
            padding:60px 0; margin:0;
            text-align:center;
            color:#fff;
        }
    }

    .weapons {
        ul {
            padding:0; margin:0; list-style:none;
            &:after {
              content: "";
              display: table;
              clear: both;
            }
            li {
                box-sizing: border-box;
                display:inline-block;
                float:left;
                padding:10px; margin:0;
                width:25%;
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1000px) {
    .pane {
        .sell {
            img {
                float:none;
                margin:0 auto 30px auto;
            }
            input {
                width:100%;
                box-sizing:border-box;
            }
        }
        .weapons {
            ul {
                li {
                    width:33%;
                }
            }
        }
    }
}
@media only screen and (max-width : 800px) {
    .container {
        padding: 30px 40px;
    }
    #hero {
        padding:60px 60px 30px 60px;
    }
    .pane {
        display: block;

        div.left, div.right {
            box-sizing: border-box;
            padding:100px 60px;
            width: 100%;
            &.picture {
                padding:200px 60px;
            }
        }
        &.epoch {
            padding:30px;
            h3 {
                padding:100px 0;
            }
        }
        .weapons {
            ul {
                li {
                    width:50%;
                }
            }
        }
    }
}

footer {
    background: #0a1b25;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 30px 60px;

    p,
    ul {
        color:#6a8798;
        padding: 0;
        margin: 0;
        list-style:none;
    }

    p+p {
        margin-top: 30px;
    }

    h4 {
        color:#c9d8e1;
    }

    .left,
    .right {
        box-sizing: border-box;
        display: block;
        padding: 30px;
        width: 50%;
    }
}


@media only screen and (max-width : 800px) {
    footer {
        display: flex;
        flex-direction: column;
        .left,
        .right {
            box-sizing: border-box;
            display: block;
            padding: 30px;
            width: 100%;
        }
    }
}

//=============================================================
// SOCIAL
//=============================================================

.social {
    p {
        color:#fff;
        margin:0;
    }
    button {
        display:inline-block;
        background:rgba(0,0,0,0);
        border:0;
        border-radius:2px;
        font-size:1.5em;
        padding:5px 6px 5px 10px;
        transition:0.25s ease-out;
        text-align:center;
        i {
            margin-right:5px;
        }
        &:hover, &:focus {
            background:darken($rose,50%);
        }
    }
    p.contact {
        margin:10px 0 0 0;
    }
}



//=============================================================
// ARROW
//=============================================================

.arrow-wrap {
    background:#2b4554;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  position:absolute;
  z-index:1;
  right:30px;
  bottom:30px;
  width:50px;
  height:33px;
  padding:28px 10px 10px 10px;
  font-size:0.5em;
  display:block;
  border-radius:50%;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #2b4554 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }




//=============================================================
// PADDING
//=============================================================



.nt {
    margin-top:0!important;
}

.nb {
    margin-bottom:0!important;
}

.spaced {
    margin-bottom:30px;
}

.spaced-top {
    margin-top:30px;
}

.half-spaced {
    margin-bottom:15px;
}

.half-spaced-top {
    margin-bottom:15px;
}


.p {
    padding:30px;
}
.pl {
    padding-left:30px;
}
.pr {
    padding-right:30px;
}
.pt {
    padding-top:30px;
}
.pb {
    padding-bottom:30px;
}

.p2 {
    padding:60px;
}
.pl2 {
    padding-left:60px;
}
.pr2 {
    padding-right:60px;
}
.pt2 {
    padding-top:60px;
}
.pb2 {
    padding-bottom:60px;
}

.p3 {
    padding:120px;
}
.pl3 {
    padding-left:120px;
}
.pr3 {
    padding-right:120px;
}
.pt3 {
    padding-top:120px;
}
.pb3 {
    padding-bottom:120px;
}















//=============================================================
// END
//=============================================================
